[submodule "xieffect/moderation"]
	path = xieffect/moderation
	url = https://github.com/niqzart/mub-microservice.git
[submodule "static/emails"]
	path = static/emails
	url = https://github.com/xi-effect/xieffect-emails.git
