# use xieffect/requirements.txt file for production
-r xieffect/requirements.txt

# Random (dev)
lorem
requests

# Testing (dev)
pytest
pytest-order

# Formatter
black

# Linters:Basics
flake8~=4.0.1
wemake-python-styleguide

# Linters:Bugs
flake8-2020
flake8-alfred
flake8-debugger
flake8-unused-arguments
flake8-encodings
flake8-secure-coding-standard
# - flake8-warnings  # failed to install
# - flake8-useless-assert  # failed to install & unusable with pytest

# Linters:Simplifications
dlint
flake8-pie
flake8-simplify

# Linters:Imports
flake8-tidy-imports
flake8-obey-import-goat
flake8-future-import

# Linters:Style
flake8-multiline-containers
flake8-return
flake8-sql
flake8-scream

# Linters:Naming
flake8-builtins
flake8-test-name
flake8-functions-names
flake8-variables-names

# Linters:Comments
flake8-comments
flake8-executable
flake8-noqa
flake8-coding  # wants encoding comments in every file

# Linters:Typing
flake8-annotations-coverage
flake8-future-annotations
flake8-new-union-types
flake8-pep585
flake8-pep604
flake8-typing-imports
flake8-annotations
flake8-type-checking  # (https://github.com/snok/flake8-type-checking)

# Linters:Complexity
flake8-annotations-complexity
flake8-cognitive-complexity
flake8-expression-complexity
# - cohesion  # screams at all Resources
# - flake8-functions  # weird
# - flake8-length  # built-in & handed over to black

# Linters:Random
flake8-implicit-str-concat
flake8-use-fstring
flake8-use-pathlib
# - flake8-newspaper-style  # failed to install
# - flake8-print  # screams too much
# - flake8-requirements  # failed to install

# Linters:Tools
# - hacking  # failed to install
# - flakehell  # failed to install
flake8-pylint (raw lib, not wrapper: https://github.com/PyCQA/pylint/ ?)
