flask-fullstack==0.4.13

# Misc
discord-webhook~=0.14.0
flask-mail
passlib
python-dotenv

# Database-related
alembic  # TODO move to -dev deps
psycopg2-binary

# Server stuff (do not change!)
eventlet==0.30.2
gevent-websocket==0.10.1
greenlet~=1.1.2
gunicorn~=20.1.0
